.menu-link {
    font-size: 16px;
    line-height: 22px;
    color: #8f93a3;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    /* display: block; */
}

/* body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
} */

.title {
    color: pink;
    background-color: darkgreen;
    text-align: center;
}

.header {
    text-align: center;
    background-color: grey;
}

.img_200 {
    width: 200px;
    height: 400px;
}

.img_220 {
    width: 220px;
    height: 400px;
}

.img_350 {
    width: 350px;
    height: 400px;
}

.img_900 {
    width: 900px;
    height: 500px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.img_400 {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.blockGb {
    display: flex;
}

.main_container {
    display: flex;
}

.total_container {
    display: flex;
    justify-content: space-around;
}

.gray-element {
    background-color: lightgray;
}

/* CSS стили для адаптации на разных устройствах */
@media (max-width: 767px) {

    .img_350,
    .img_900,
    .img_400,
    .img_200 {
        width: 100%;
        height: auto;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 479px) {

    .img_400,
    .img_200 {
        width: 100%;
        height: auto;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}