header {
    width: 90%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c2c2c;
    border-bottom: 2px solid #000;
}

header span {
    font-size: 25px;
    font-weight: bold;
    color: #fcfcfc;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

header nav a:hover {
    text-decoration: underline;
}

header input {
    border: 1px solid silver;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    padding: 7px 10px;
    margin-right: 10px;
    outline: none;
}

header input:focus {
    border-color: #dd5353;
}

header button {
    border: 0;
    background: #dd5353;
    color: #661f1f;
    padding: 6px 10px;
    border-radius: 2px;
    transition: transform 500ms ease;
}

header button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu-link {
    font-size: 16px;
    line-height: 22px;
    color: #8f93a3;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    /* display: block; */
}

/* body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
} */

.title {
    color: pink;
    background-color: darkgreen;
    text-align: center;
}

/*.header {
    text-align: center;
    background-color: grey;
}*/

.img_200 {
    width: 200px;
    height: 400px;
}

.img_220 {
    width: 220px;
    height: 400px;
}

.img_350 {
    width: 350px;
    height: 400px;
}

.img_900 {
    width: 900px;
    height: 500px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.img_400 {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.blockGb {
  background: url('../img/Gb.jpg') no-repeat;
  height: 700px;
  
  background-size: 900px;
  background-attachment: fixed; 
}

.blockGb {
    display: flex;
}

.main_container {
    display: flex;
}

.total_container {
    display: flex;
    justify-content: space-around;
}

.gray-element {
    background-color: lightgray;
}

/* CSS стили для адаптации на разных устройствах */
@media (max-width: 767px) {

    .img_350,
    .img_900,
    .img_400,
    .img_200 {
        width: 100%;
        height: auto;
    }

    .blockGb {
  background: url('../img/Gb.jpg') no-repeat;
  height: 400px;
  
  background-size: 100%;
  background-attachment: fixed; 
}

.blockGb {
    display: flex;
}

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .total_container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 479px) {

    .img_400,
    .img_200 {
        width: 100%;
        height: auto;
    }

    .blockGb {
  background: url('../img/Gb.jpg') no-repeat;
  height: 260px;
  
  background-size: 100%;
  background-attachment: fixed; 
}

.blockGb {
    display: flex;
}

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .total_container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}