body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
a {
    color: #666;
}
a:hover {
    color: #000;
}
nav a {
    margin: 10px;
    padding: 10px;
    color: #000;
    text-decoration: none;
}
app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
app-header nav {
    background: #fff;
    height: 60px;
}
app-header.transparent nav {
    background: 0 0;
    text-shadow: 0 0 2px #fff;
}
app-header nav a {
    display: inline-block;
}
.mobile-header-nav a {
    margin: 8px;
    height: 24px;
}
.mobile-header-nav a svg {
    width: 24px;
    height: 24px;
}
.desktop-header-nav {
    display: none;
}
app-drawer {
    position: fixed;
    z-index: 20;
}
app-drawer:not([opened]) {
    visibility: hidden;
}
app-drawer nav {
    margin-top: 40px;
}
app-drawer nav a {
    display: block;
    border-left: 2px solid transparent;
}
app-drawer nav a.selected {
    border-left: 2px solid #000;
}
main {
    margin: 120px auto 20px;
    padding: 0 10px;
    max-width: 800px;
}
good-map {
    display: block;
    height: 100vh;
}
@media (min-width: 400px) {
    .mobile-header-nav {
        display: none;
    }
    .desktop-header-nav {
        display: block;
        text-align: right;
    }
    .desktop-header-nav button {
        background: 0 0;
        border: none;
    }
    .desktop-header-nav a:hover {
        border-bottom: 2px solid #ccc;
    }
    .desktop-header-nav a.selected {
        border-bottom: 2px solid #000;
    }
}
